@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Syne:wght@500;700&display=swap');

:root {
  // fonts
  --textFont: 'DM Sans', sans-serif;
  --headingFont: 'Syne', sans-serif;
  // colors
  --white: #ebf2fa;
  --dark: #212f45;
  --main: #4d194d;
  --secondary: #006466;
}

// globals
h1,
h2,
h3,
h4 {
  font-family: var(--headingFont);
  letter-spacing: .1rem;
}

p,
a,
li,
button,
label,
input {
  font-family: var(--textFont);
  line-height: 1.6;
}

// helpers
.container {
  // width: 100%;
  max-width: 1023px;
  margin: 0 auto;
  padding: 0 1.4rem;
}


// nav layout
.nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  &__logo {
    width: 3rem;
    height: 3rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
  }

  &__list__links {
    padding: .2rem 1rem;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: .08rem;
    border-radius: .15rem;
    transition: all ease-in-out .25s;

    &:hover {
      color: var(--white);
      background-color: var(--secondary);
    }

    &.active {
      color: var(--white);
      background-color: var(--secondary);
    }
  }

  &__hamb {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;

    span {
      display: block;
      background-color: var(--dark);
      height: 3px;
      width: 28px;
      margin: 9px auto;
      border-radius: 2px;
    }
  }
}

@media (max-width: 828px) {
  body {
    // overflow: hidden;
    z-index: 1;
  }

  .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0;

    &__logo {
      margin-left: 2rem;
    }

    &__list {
      display: none;
      position: absolute;
      top: 7rem;
      width: 100%;
      height: 90vh;
      flex-direction: column;
      justify-content: center;
      gap: 2.4rem;
      margin: 0;
      padding: 0;
      background-color: #fff;
      // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: .4rem;
      opacity: 0;
      z-index: 5;

      li {
        width: 100%;
        text-align: center;
      }

      &__links {
        width: 100%;
        padding: 0 7rem;
        background-color: transparent;

        &:hover {
          color: var(--secondary);
          background: none;
        }

        &.active {
          color: var(--secondary);
          background: none;
        }
      }
    }

    @keyframes showMenu {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    &__list.active {
      display: flex;
      animation: showMenu 300ms ease-in-out both;
    }

    .br-1.animated {
      transform: rotate(-45deg) translate(-9px, 8px);
    }

    .br-2.animated {
      opacity: 0;
    }

    .br-3.animated {
      transform: rotate(45deg) translate(-9px, -8px);
    }

    &__hamb {
      display: block;
      position: absolute;
      right: 2rem;
      transition: 0.2s 0.1s;
    }
  }
}

// hero styles
.hero {
  height: 100%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  &__content {
    flex: 1;
    order: 2;
    text-align: center;
    &__title {
      font-size: 2.4rem;
      span {
        color: var(--secondary);
      }
    }
    &__subtitle {
      font-size: 1.6rem;
    }
    &__text {
      font-size: 1.2rem;
      color: var(--dark);
      opacity: 0.8;
    }
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      a {
        color: var(--white);
        background-color: var(--dark);
        padding: .2rem 1rem;
        border-radius: .3rem;
        transition: all ease-in-out .2s;
        &:hover {
          background-color: var(--secondary);
        }
      }
    }
  }
  &__img {
    flex: 1;
    order: 1;
    margin: 0 2rem;
    img {
      width: 100%;
      max-width: 40rem;
      height: 35vh;
      object-fit: cover;
      object-position: center center;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
  }
}
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    &__content {
      order: 1;
    }
    &__img {
      order: 2;
      img {
        height: 50vh;
      }
    }
  }
}
.about {
  min-height: 40vh;
  text-align: center;
  color: var(--white);
  background-color: var(--dark);
  padding: 1rem 0;
  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    transition: all ease-in-out .5s;
    :nth-child(n):hover {
      color: #087fb7;
    }
  }
  &__signature {
    width: 18rem;
    height: 6rem;
    margin: 0 auto;
    filter: invert(1);
  }
}
.box {
  text-align: center;
  height: 100%;
  padding: 2rem 0;
  &__container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .box {
      min-width: 10rem;
      min-height: 10rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: var(--white);
      background-color: var(--secondary);
      border-radius: .3rem;
      i {
        font-size: 2rem;
      }
      span {
        font-family: var(--textFont);
        letter-spacing: .1rem;
      }
    }
  }
}
.education {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--dark);
  padding: 2rem 0;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    .box {
      width: 20rem;
      display: flex;
      flex-direction: column;
      color: var(--dark);
      background-color: #fff;
      border-radius: .2rem;
      p {
        font-size: 1.2rem;
      }
      span {
        display: block;
        opacity: 0.8;
        color: var(--dark);
      }
      img {
        width: 100%;
        height: 7rem;
        object-fit: cover;
        object-position: center center;
        border-bottom: 1px solid black;
      }
    }
  }
}

.experience {
  padding: 2rem 0;
  h2 {
    text-align: center;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: .2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    img {
      // width: 100%;
      height: 30rem;
      object-fit: cover;
        object-position: center center;
    }
    .content {
      h3 {
        font-size: 1.6rem;
      }
      p {
        color: var(--secondary);
        letter-spacing: .1rem;
      }
      .btn {
        display: flex;
        gap: 1rem;
        a {
          text-decoration: none;
          color: var(--white);
          background-color: var(--dark);
          border: none;
          padding: .4rem 1.2rem;
          border-radius: .3rem;
          cursor: pointer;
        }
      }
    }
  }
}

.form {
  margin: 1rem 0;
  border-top: 1px solid rgb(202, 202, 202);
  &__title {
    text-align: center;
  }
  form {
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    fieldset {
      border: none;
      .input-container {
        label {
          display: block;
          margin-bottom: .4rem;
        }
        input {
          width: 100%;
          max-width: 45rem;
          border: none;
          border-bottom: 1px solid rgb(209, 208, 208);
          margin-bottom: 1rem;
        }
        textarea {
          border: none;
          border-bottom: 1px solid rgb(209, 208, 208);
          resize: none;
          width: 100%;
          max-width: 45rem;
        }
      }
    }
    button {
      color: var(--white);
      background-color: var(--dark);
      border: none;
      border-radius: .3rem;
      padding: .4rem 2.2rem;
      margin-left: 1rem;
      transition: all ease-in-out .25s;
      cursor: pointer;
      &:hover {
        background-color: var(--secondary);
      }
    }
    .warnings {
      text-transform: uppercase;
      font-weight: 600;
      width: 22rem;
      text-align: center;
      margin: auto;
      color: #f81367;
      padding-top: 2rem;
    }
  }
}
.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--secondary);
}
